main.synctex.gz
main.pdf
main.log
main.aux
main.bbl
main.blg
main.spl
main.toc
main.out
main before review.synctex.gz
main before review.pdf
main before review.log
main before review.aux
main before review.bbl
main before review.blg
main before review.spl
main before review.toc
main before review.out
main rus.synctex.gz
main rus.pdf
main rus.log
main rus.aux
main rus.bbl
main rus.blg
main rus.spl
main rus.toc
main rus.out
mainNotes.bib
images/scripts_and_programs/dos
images/scripts_and_programs/States calc/data/*
images/scripts_and_programs/States calc/.venv/*
images/scripts_and_programs/States calc/.idea/*
images/scripts_and_programs/Size scale/.venv/*
images/scripts_and_programs/Size scale/.idea/*
images/scripts_and_programs/configuration converter/data/*
images/scripts_and_programs/configuration converter/.venv/*
images/scripts_and_programs/configuration converter/.idea/*
images/scripts_and_programs/msf drawer/data/*
images/scripts_and_programs/msf drawer/.venv/*
images/scripts_and_programs/msf drawer/.idea/*
images/scripts_and_programs/GS multiplicity/data/*
images/scripts_and_programs/GS multiplicity/.venv/*
images/scripts_and_programs/GS multiplicity/.idea/*
*.pdf
