main.synctex.gz
main.pdf
main.log
main.aux
main.bbl
main.blg
main.spl
main.toc
main.out
mainNotes.bib
images/scripts_and_programs/dos
images/scripts_and_programs/States calc/data/*
images/scripts_and_programs/States calc/.venv/*
images/scripts_and_programs/States calc/.idea/*